﻿/* UNIVERSAL PROPERTIES */
* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'sans-serif';
    font-weight: 300;
    color: white;
    font-size: 100%;
}
.display-none {
    display: none;
}

/* FONT SETTINGS */
h1 {
    text-align: center;
    margin: 20px;
    font-size: 3em;
    font-weight: 100;
    /*font-style: italic;*/
}
h1 + h1 {
    margin: 0 20px 20px 20px;
}
h2 {
    font-size: 1.5em;
    font-weight: 400;
}
input, select, select * {
    color: black;
    background-color: #d5d5d5;
}

/* SET DEFAULT ANCHOR STYLES */
a {
    display: block;
    cursor: pointer;
}
a:hover {
    background-color: #513c0b;
}
a:link {
    text-decoration: inherit;
    color: white;
}
a:visited {
    text-decoration: inherit;
    color: white;
}

/* BACKGROUND */
@media all and (max-width: 1024px) {
    /* If the screen is less than 1024px don't display background image */
    html {
        background-color: #343434;
        height: 100%;
    }
}
@media all and (min-width: 1024px) {
    html {
        background: url("../img/page-background-blurred.jpg") no-repeat top center fixed;
        background-size: cover;
        height: 100%;
    }
}

/* SET THE SIZE AND POSITION OF ALL THE PAGE CONTENT */
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
#container {
    margin: 0 auto;
    height: 100%;
    max-width: 800px;
}
@media all and (max-width: 1024px) {
    #container {
        max-width: 100%;
    }
}

/* NAVIGATION MENU */ 
#navigation { 
    position: fixed;
    top: 0;
    max-width: inherit;  
    min-height: 40px; /* Hard-coded px value so its size is consistent and readable on any device */   
    width: 100%;     
    background-color: #000000;
    z-index: 2;
    font-size: 1.2em;
    text-transform: uppercase;
}
#navigation li {
    float: left; /* Make elements stack horizontally across screen */
    list-style: none; /* Get rid of bullet points, etc */
    width: 25%; /* Make the four menu options evenly sized */
    text-align: center;
    line-height: 40px; /* This centers the text vertically */
}
#navigation .selected {
    background-color: #343434; 
}

/* CONTENT BACKGROUND */
#content {
    background-color: #343434;
    overflow: hidden;
    padding: 60px 20px 20px 20px;
}
@media all and (max-width: 800px) {
    #content {
        padding: 50px 10px 10px 10px;
    }
}
@media all and (max-width: 480px) {
    #content {
        padding: 45px 5px 5px 5px;
    }
}

/* GENERIC MULTI-PURPOSE BOX */
.generic-box {    
    margin: 20px 0;
    background-color: #222222;
    padding: 10px;
    overflow: hidden;
}

/* GENERIC MULTI-PURPOSE BUTTON */
.generic-button {    
    margin: 20px 0;
    background-color: #222222;
    padding: 10px;
    overflow: hidden;
    height: 40px;
}
.generic-button .label {
    float: left;
    line-height: 40px;
}
.generic-button .icon {
    float: right;
    line-height: 40px;
}


/* USER REVIEWS */
.review > *{
    float: left;
}
.review .content .text {
    float: left;
    max-width: 90%;
}