
/* SEARCH BOX */
#search-box {
    background-color: #222222;
    min-height: 40px;
    overflow: hidden;
}
#search-box #labels {
    float: left;
    margin: 10px;
}
#search-box #inputs {
    overflow: hidden;
    margin: 10px;
}
#search-box #labels, #search-box #button {
    width: 60px;
}
#search-box #button {
    float: right;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    margin: 10px 10px 10px 0;
}
#search-box #inputs * {
    width: 100%;
}
#search-box #inputs *:first-child {
    margin: 0 0 1px 0;
}

/* SEARCH RESULTS */
#search-results {
    overflow: hidden;
}
.result {
    background-color: #222222;
    margin: 10px 0;
    padding: 10px;
    float: left;
    width: 100%;
}
.result > div {
    float: left;
}
.result .name-location {
    width: 60%;
}
.result .quantities {
    width: 40%;
}
.result .quantities > div {
    float: left;
    width: 25%;    
    padding: 20px 0 0 0;
}
.result .quantities > div > * {
    margin: auto;
    max-width: 50%;
    max-height: 75%;
}

@media all and (max-width: 800px) {
    .result .quantities, .result .name-location {
        width: 100%;
    }
    .result .quantities * {
        display: block;
        height: 30px;
        overflow: hidden;
    }
}
@media all and (max-width: 480px) {
    .result .name-location .location {
        display: none;
    }
}