
/* LOGIN SECTION */
#login #login-box {
    background-color: #222222;
    min-height: 40px;
    overflow: hidden;
}
#login #labels {
    float: left;
    margin: 10px;
    width: 80px;
}
#login #submit-button {
    width: 60px;
    float: right;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    margin: 10px 10px 10px 0;
}
#login-box #inputs {
    overflow: hidden;
    margin: 10px;
}
#login-box #inputs * {
    width: 100%;
}
#login-box #inputs *:first-child {
    margin: 0 0 1px 0;
}

/* REGISTRATION SECTION */
.warning {
    color: #cb6712;
}