/* BACKGROUND IMAGE */
html {
    background: url("../img/page-background-blurred.jpg") no-repeat top center fixed;
    background-size: cover;
    height: 100%;
}

/* FRONT PAGE HEADER LOGO */
#header {
    height: 90%;
    position: relative;
}
#header p {
    font-size: 5em;
    color: black;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    font-weight: 100;
}
#content {
    padding: 0;
    min-height: 0;
}
@media all and (max-width: 480px) {
    #header p {
        font-size: 3em;
    }
}
@media all and (max-height: 300px) {
    #header p {
        top: 20%;
    }
}