/* GOOGLE MAP DIV */
#map-canvas {
    width: 100%;
    height: 400px;
    background-color: white;
}
@media all and (max-width: 800px) {
    #map-canvas {
        height: 300px;
    }
}
@media all and (max-width: 480px) {
    #map-canvas {
        height: 200px;
    }
}